* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sono", sans-serif;
  background-color: black;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  height: 80%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 40px;
  height: 90%;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  color: azure;
  padding-bottom: 20px;
}

.display {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  background-color: transparent;
  width: 100%;
  height: 90%;
}

.display-input,
.display-output {
  padding: 50px 20px;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid gray;
  border-radius: 15px;
}

#textarea {
  color: azure;
  font-size: 20px;
  width: 100%;
  height: 70%;
  outline: none;
  resize: none;
  background-color: transparent;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}

.display-input {
  position: relative;
}

.display-result {
  color: azure;
}

.display-out {
  width: 100%;
  height: 70%;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.display-rules {
  color: azure;
  margin-bottom: 30px;
  font-size: 18px;
  text-transform: uppercase;
}

.btns {
  display: flex;
  align-items: center;
  gap: 70px;
  transition: all;
}

.btn {
  font-size: 24px;
  font-family: inherit;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: gray;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.about {
  position: absolute;
  font-size: 50px;
  bottom: 30px;
  right: 80px;
}

.text-warning {
  position: absolute;
  top: 20px;
  left: 40px;

  display: flex;
  align-items: center;
  gap: 5px;
  color: red;
}

.hidden {
  display: none !important;
}

.about-container {
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* ++++++++++++++++media+++++++++++++++ */

@media (max-width: 1300px) {
  h1 {
    font-size: 22px;
  }

  .display {
    grid-template-columns: 1fr 1fr;
  }

  .display-rules {
    font-size: 12px;
  }

  .display-input,
  .display-output {
    border: none;
  }

  .btn {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .display {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    row-gap: 10px;
  }

  .display-out {
    height: 200px;
  }

  .display-input {
    width: 100%;
    height: 100%;
  }

  .about {
    bottom: 40px;
    right: 40px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 16px;
  }

  main {
    padding: 0;
  }

  .display-input,
  .display-output {
    padding: 0 20px;
  }

  .btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  .about {
    position: absolute;
    font-size: 30px;
    top: 40px;
    right: 30px;
  }
}

@media (max-width: 350px) {
  .display-input,
  .display-output {
    width: 80%;
  }

  .display {
    width: 300px;
  }

  .display-input,
  .display-out {
    padding: 0;
    margin: 0;
    /* height: 300px; */
    padding-top: 30px;
    margin-left: 30px;
  }

  main {
    border: none;
  }

  .btns {
    gap: 5px;
  }

  .about {
    top: 10px;
  }

  .btn {
    font-size: 10px;
    padding: 2px 5px;
  }

  .text-warning {
    top: 10px;
  }

  #textarea {
    font-size: 16px;
  }

  .about-container {
    font-size: 12px;
  }
}
